<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
    <div class="container-fluid">
        <div class="row col-md-12 justify-content-start">
            <button class="btn btn-link" (click)="regresar()"><span class="material-icons">arrow_back </span>
                Regresar</button>
        </div>

        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Registro de Pacientes</h4>
                <p class="card-category">Los campos marcados con (*) son obligatorios</p>
            </div>
            <div class="card-body">

                <!-- <button mat-raised-button (click)="isEditable = !isEditable">
            {{!isEditable ? 'Habilitar Edición' : 'Deshabilidar Edición'}}
        </button> -->

                <mat-horizontal-stepper linear #stepper >
                    <!-- Inicio	Datos personales -->
                    <mat-step [stepControl]="datosPersonalesForm" [editable]="isEditable" *ngIf="registroControl">
                        <form [formGroup]="datosPersonalesForm" ngNativeValidate
                            (ngSubmit)="onSubmitGuardarDatosPersonalesPaciente()" autocomplete="off">
                            <ng-template matStepLabel>Datos personales</ng-template>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="nombres" placeholder="Nombres" name="nombres"
                                            type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('nombres').hasError('required')">
                                            El campo nombres es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="apellidos" placeholder="Apellidos"
                                            name="apellidos" type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('apellidos').hasError('required')">
                                            El campo apellidos es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="identificacion" placeholder="Identificación"
                                            name="identificacion" type="text" required>
                                        <mat-error
                                            *ngIf="datosPersonalesForm.get('identificacion').hasError('required')">
                                            El campo identificación es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!-- <mat-form-field class="example-full-width">
                                <input matInput formControlName="genero" placeholder="Genero" name="genero" type="text"
                                    required>
                                <mat-error *ngIf="datosPersonalesForm.get('genero').hasError('required')">
                                    El campo genero es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field> -->

                                    <div class="form-group example-full-width">
                                        <label>Genero</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" [value]="'F'" name="genero"
                                                    formControlName="genero">
                                                Femenino
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" [value]="'M'" name="genero"
                                                    formControlName="genero">
                                                Masculino
                                            </label>
                                            <mat-error class="small"
                                                *ngIf="datosPersonalesForm.get('genero').hasError('required')">
                                                El campo genero es <strong>requerido</strong>
                                            </mat-error>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="edad" placeholder="edad" name="edad"
                                            type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('edad').hasError('required')">
                                            El campo edad es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="fechaNacimiento"
                                            placeholder="Fecha de Nacimiento" name="fechaNacimiento" type="date"
                                            required>
                                        <mat-error
                                            *ngIf="datosPersonalesForm.get('fechaNacimiento').hasError('required')">
                                            El campo fecha nacimiento es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="email" placeholder="email" name="email"
                                            type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('email').hasError('required')">
                                            El campo email es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="direccion" placeholder="Dirección"
                                            name="direccion" type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('direccion').hasError('required')">
                                            El campo dirección es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="telefono" placeholder="Teléfono"
                                            name="telefono" type="text" required>
                                        <mat-error *ngIf="datosPersonalesForm.get('telefono').hasError('required')">
                                            El campo teléfono es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" mat-button class="btn btn-light">
                                    <span class="material-icons">save </span>Guardar</button>
                            </div>
                        </form>
                        <div>
                            <button mat-button matStepperNext class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Fin Datos personales -->

                    <!-- Inicio Perfil bioquímico  -->
                    <mat-step [stepControl]="perfilBioquimicoForm" [editable]="isEditable">
                        <form [formGroup]="perfilBioquimicoForm" ngNativeValidate
                            (ngSubmit)="onSubmitPerfilBioquimico()" autocomplete="off">
                            <ng-template matStepLabel>Perfil bioquímico</ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="glucemia" placeholder="Glucemia (mm/hg)"
                                            name="glucemia" type="text" required>
                                        <mat-error *ngIf="perfilBioquimicoForm.get('glucemia').hasError('required')">
                                            El campo Glucemia es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="insulina" placeholder="Insulina (mg/dl)"
                                            name="insulina" type="text" required>
                                        <mat-error *ngIf="perfilBioquimicoForm.get('insulina').hasError('required')">
                                            El campo Insulina es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="homaIr"
                                            placeholder="HOMA-IR (insulina*glucemia)" name="homaIr" type="text"
                                            required>
                                        <mat-error *ngIf="perfilBioquimicoForm.get('homaIr').hasError('required')">
                                            El campo HOMA-IR es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="leptina" placeholder="Leptina (mg/ml)"
                                            name="leptina" type="text" required>
                                        <mat-error *ngIf="perfilBioquimicoForm.get('leptina').hasError('required')">
                                            El campo Leptina es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" mat-button class="btn btn-light"><span class="material-icons">save
                                    </span> Guardar</button>
                            </div>
                        </form>
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button mat-button matStepperNext class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Fin Perfil bioquímico   -->

                    <!-- Inicio	Comorbilidad   -->
                    <mat-step [stepControl]="comorbilidadForm" [editable]="isEditable">
                        <form [formGroup]="comorbilidadForm" ngNativeValidate (ngSubmit)="onSubmitComorbilidad()"
                            autocomplete="off">
                            <ng-template matStepLabel>Comorbilidad</ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Hipertensión</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="hipertension" [value]="'SI'"
                                                    formControlName="hipertension">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="hipertension" [value]="'NO'"
                                                    formControlName="hipertension">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('hipertension').hasError('required')">
                                            El campo hipertensión es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Diabetes</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="diabetes" [value]="'SI'"
                                                    formControlName="diabetes">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="diabetes" [value]="'NO'"
                                                    formControlName="diabetes">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('diabetes').hasError('required')">
                                            El campo Diabetes es <strong>requerido</strong>
                                        </mat-error>
                                    </div>

                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="diabetes" aria-label="diabetes" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('diabetes').hasError('required')">
                                    El campo diabetes es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Infarto mediocardio previo</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="infartoMediocardioPrevio" [value]="'SI'"
                                                    formControlName="infartoMediocardioPrevio">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="infartoMediocardioPrevio" [value]="'NO'"
                                                    formControlName="infartoMediocardioPrevio">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('infartoMediocardioPrevio').hasError('required')">
                                            El campo Infarto mediocardio previo es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="infartoMediocardioPrevio"
                                    aria-label="Infarto mediocardio previo" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('infartoMediocardioPrevio').hasError('required')">
                                    El campo Infarto mediocardio previo es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Enf. renal crónica</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="enfrenalCronica" [value]="'SI'"
                                                    formControlName="enfrenalCronica">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="enfrenalCronica" [value]="'NO'"
                                                    formControlName="enfrenalCronica">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('enfrenalCronica').hasError('required')">
                                            El campo Enf. renal crónica es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="enfrenalCronica"
                                    aria-label="Enf. renal crónica" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('enfrenalCronica').hasError('required')">
                                    El campo Enf. renal crónica es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Enf. Renal crónica Diálisis</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="enfRenalCronicaDialisis" [value]="'SI'"
                                                    formControlName="enfRenalCronicaDialisis">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="enfRenalCronicaDialisis" [value]="'NO'"
                                                    formControlName="enfRenalCronicaDialisis">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('enfRenalCronicaDialisis').hasError('required')">
                                            El campo Enf. Renal crónica Diálisis es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="enfRenalCronicaDialisis"
                                    aria-label="Enf. Renal crónica Diálisis" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('enfRenalCronicaDialisis').hasError('required')">
                                    El campo Enf. Renal crónica Diálisis es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Enf. Cerebrovascular</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="enfCerebrovascular" [value]="'SI'"
                                                    formControlName="enfCerebrovascular">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="enfCerebrovascular" [value]="'NO'"
                                                    formControlName="enfCerebrovascular">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('enfCerebrovascular').hasError('required')">
                                            El campo Enf. Cerebrovascular es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="enfCerebrovascular"
                                    aria-label="Enf. Cerebrovascular" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('enfCerebrovascular').hasError('required')">
                                    El campo Enf. Cerebrovascular es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>EPOC</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="epoc" [value]="'SI'" formControlName="epoc">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="epoc" [value]="'NO'" formControlName="epoc">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('epoc').hasError('required')">
                                            El campo EPOC es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="epoc" aria-label="EPOC" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('epoc').hasError('required')">
                                    El campo EPOC es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Tabaquismo</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="tabaquismo" [value]="'SI'"
                                                    formControlName="tabaquismo">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="tabaquismo" [value]="'NO'"
                                                    formControlName="tabaquismo">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('tabaquismo').hasError('required')">
                                            El campo Tabaquismo es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="tabaquismo" aria-label="Tabaquismo" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('tabaquismo').hasError('required')">
                                    El campo Tabaquismo es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>SAHOS</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="sahos" [value]="'SI'" formControlName="sahos">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="sahos" [value]="'NO'" formControlName="sahos">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('sahos').hasError('required')">
                                            El campo SAHOS es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="sahos" aria-label="SAHOS" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('sahos').hasError('required')">
                                    El campo SAHOS es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>VIH</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="vih" [value]="'SI'" formControlName="vih">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="vih" [value]="'NO'" formControlName="vih">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('vih').hasError('required')">
                                            El campo VIH es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="vih" aria-label="VIH" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('vih').hasError('required')">
                                    El campo VIH es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Neoplasia activa</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="neoplasiaActiva" [value]="'SI'"
                                                    formControlName="neoplasiaActiva">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="neoplasiaActiva" [value]="'NO'"
                                                    formControlName="neoplasiaActiva">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('neoplasiaActiva').hasError('required')">
                                            El campo Neoplasia activa es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="neoplasiaActiva"
                                    aria-label="Neoplasia activa" required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('neoplasiaActiva').hasError('required')">
                                    El campo Neoplasia activa es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group example-full-width">
                                        <label>Enf. Autoinmune</label>
                                        <div class="row">
                                            <label class="mx-3">
                                                <input type="radio" name="enfAutoinmune" [value]="'SI'"
                                                    formControlName="enfAutoinmune">
                                                SI
                                            </label>

                                            <label class="mx-3">
                                                <input type="radio" name="enfAutoinmune" [value]="'NO'"
                                                    formControlName="enfAutoinmune">
                                                NO
                                            </label>
                                        </div>
                                        <mat-error class="small"
                                            *ngIf="comorbilidadForm.get('enfAutoinmune').hasError('required')">
                                            El campo Enf. Autoinmune es <strong>requerido</strong>
                                        </mat-error>
                                    </div>
                                    <!-- <div class="example-full-width">
                                <mat-radio-group matInput formControlName="enfAutoinmune" aria-label="Enf. Autoinmune"
                                    required>
                                    <mat-radio-button [value]="'SI'">SI</mat-radio-button>
                                    <mat-radio-button [value]="'NO'">NO</mat-radio-button>
                                </mat-radio-group>
                                <small *ngIf="comorbilidadForm.get('enfAutoinmune').hasError('required')">
                                    El campo Enf. Autoinmune es <strong>requerido</strong>
                                </small>
                            </div> -->
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" mat-button class="btn btn-light"><span class="material-icons">save
                                    </span> Guardar</button>
                            </div>
                        </form>
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button type="submit" mat-button matStepperNext
                                class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Fin Comorbilidad   -->

                    <!-- Inicio	Antropometría  -->
                    <mat-step [stepControl]="antropometriaForm" [editable]="isEditable">
                        <form [formGroup]="antropometriaForm" ngNativeValidate (ngSubmit)="onSubmitAntopometria()"
                            autocomplete="off">
                            <ng-template matStepLabel>Antropometría</ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="altura" placeholder="Altura" name="altura"
                                            type="text" required>
                                        <mat-error *ngIf="antropometriaForm.get('altura').hasError('required')">
                                            El campo altura es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="peso" placeholder="Peso" name="peso"
                                            type="text" required>
                                        <mat-error *ngIf="antropometriaForm.get('peso').hasError('required')">
                                            El campo peso es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="radioCaderaCintura"
                                            placeholder="Radio de cadera/cintura" name="radioCaderaCintura" type="text"
                                            required>
                                        <mat-error
                                            *ngIf="antropometriaForm.get('radioCaderaCintura').hasError('required')">
                                            El campo Radio de cadera/cintura es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="circunferenciaMediaCuello"
                                            placeholder="Circunferencia media del cuello"
                                            name="circunferenciaMediaCuello" type="text" required>
                                        <mat-error
                                            *ngIf="antropometriaForm.get('circunferenciaMediaCuello').hasError('required')">
                                            El campo Circunferencia media del cuello es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="circunferenciaMediaAbdomen"
                                            placeholder="Circunferencia media del abdomen"
                                            name="circunferenciaMediaAbdomen" type="text" required>
                                        <mat-error
                                            *ngIf="antropometriaForm.get('circunferenciaMediaAbdomen').hasError('required')">
                                            El campo Circunferencia media del abdomen es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="circunferenciaMediaCadera"
                                            placeholder="Circunferencia media de cadera"
                                            name="circunferenciaMediaCadera" type="text" required>
                                        <mat-error
                                            *ngIf="antropometriaForm.get('circunferenciaMediaCadera').hasError('required')">
                                            El campo Circunferencia media de cadera es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" mat-button class="btn btn-light"><span class="material-icons">save
                                    </span> Guardar</button>
                            </div>
                        </form>
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button type="submit" mat-button matStepperNext
                                class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Inicio	Antropometría  -->

                    <!-- Inicio Indices -->
                    <mat-step>
                        <!-- <form [formGroup]="indicesForm" ngNativeValidate autocomplete="off"> -->
                        <ng-template matStepLabel>Índices</ng-template>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <thead class="text-primary">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Índice</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Índice de masa corporal (IMC)</td>
                                            <td>{{ indices?.imc }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Masa grasa corporal (MGC)</td>
                                            <td>{{ indices?.masagrasacorporal }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Índice de masa grasa (IMG)</td>
                                            <td>{{ indices?.imgrasa }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Masa libre de grasa (MLG)</td>
                                            <td>{{ indices?.masalibredegrasa }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Índice de masa libre de grasa (IMLG)</td>
                                            <td>{{ indices?.imlibredegrasa }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Índice de masa músculo esquelético (IMME)</td>
                                            <td>{{ indices?.masamusculoesquelitica }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>% de grasa corporal</td>
                                            <td>{{ indices?.porcentajeGrasaCorporal }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="row col-md-12 justify-content-center">
                                    <img src="../../assets/img/images/plan.png" alt="" width="250px" *ngIf="imgCorpulencia === 10">
                                    <img src="../../assets/img/images/Peso Insuficiente.png" alt="" width="250px" *ngIf="imgCorpulencia === 1">
                                    <img src="../../assets/img/images/Normopeso.png" alt="" width="250px" *ngIf="imgCorpulencia === 2">
                                    <img src="../../assets/img/images/Sobrepeso.png" alt="" width="250px" *ngIf="imgCorpulencia === 3">
                                    <img src="../../assets/img/images/Sobrepeso.png" alt="" width="250px" *ngIf="imgCorpulencia === 4">
                                    <img src="../../assets/img/images/Obesidad.png" alt="" width="250px" *ngIf="imgCorpulencia === 5">
                                    <img src="../../assets/img/images/Obesidad.png" alt="" width="250px" *ngIf="imgCorpulencia === 6">
                                    <img src="../../assets/img/images/Obesidad.png" alt="" width="250px" *ngIf="imgCorpulencia === 7">
                                    <img src="../../assets/img/images/Obesidad.png" alt="" width="250px" *ngIf="imgCorpulencia === 8">
                                    <img src="../../assets/img/images/Obesidad.png" alt="" width="250px" *ngIf="imgCorpulencia === 9">
                                </div>
                                <div class="row col-md-12 justify-content-center mt-3">
                                    <label for="" class="font-black"><strong>CORPULENCIA:</strong> {{ indices?.corpulencia }}</label>
                                </div>
                                <div class="row col-md-12 justify-content-center">
                                    <label for="" class="font-black"><strong>FENOTIPO:</strong> {{ indices?.fenotipoCorporal }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button mat-button class="btn btn-light" (click)="calcularIndices()">Calcular</button>
                        </div>
                        <!-- </form> -->
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button mat-button matStepperNext class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Fin Indices -->

                    <!-- Inicio Diagnostico -->
                    <mat-step>
                        <form [formGroup]="tratamientoForm" ngNativeValidate (ngSubmit)="onSubmitTratamiento()"
                            autocomplete="off">
                            <ng-template matStepLabel>Diagnostico</ng-template>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="tratamiento" name="tratamiento"
                                            placeholder="Escribir tratamiento" cols="10" rows="5"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="observacion" name="observacion"
                                            placeholder="Escribir observación" cols="10" rows="5"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <button mat-button class="btn btn-light" type="submit">Guardar</button>
                            </div>
                        </form>
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button mat-button matStepperNext class="btn btn-danger pull-right">Siguiente</button>
                        </div>
                    </mat-step>
                    <!-- Fin Diagnostico -->

                    <mat-step>
                        <ng-template matStepLabel>Listo!</ng-template>
                        <p>Registro terminado</p>
                        <div>
                            <button mat-button matStepperPrevious class="btn btn-danger pull-left">Regresar</button>
                            <button mat-button (click)="stepper.reset()"
                                class="btn btn-danger pull-right">Resetear</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>


            </div>
        </div>

    </div>
</div>