<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row col-md-12 justify-content-start">
            <button class="btn btn-link" (click)="regresar()"><span class="material-icons">arrow_back </span>
                Regresar</button>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registrar Usuarios</h4>
                        <p class="card-category">Por favor registrar usuarios con perfil: administrador o médico</p>
                    </div>
                    <div class="card-body">
                        <form ngNativeValidate [formGroup]="usuarioForm" (ngSubmit)="onSubmitCrearUsuario()"
                            autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select matInput class="example-full-width" placeholder="Rol" name="rol"
                                            formControlName="rol" required>
                                            <mat-option value="administrador">
                                                Administrador
                                            </mat-option>
                                            <mat-option value="medico">
                                                Médico
                                            </mat-option>
                                            <mat-option value="paciente">
                                                Paciente
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="usuarioForm.get('rol').hasError('required')">
                                            El campo rol es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="documento" placeholder="No. Documento"
                                            name="documento" type="text" required>
                                        <mat-error *ngIf="usuarioForm.get('documento').hasError('required')">
                                            El campo documento es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="nombres" placeholder="Nombres" name="nombres"
                                            type="text" required>
                                        <mat-error *ngIf="usuarioForm.get('nombres').hasError('required')">
                                            El campo nombres es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="apellidos" placeholder="Apellidos"
                                            name="apellidos" type="text" required>
                                        <mat-error *ngIf="usuarioForm.get('apellidos').hasError('required')">
                                            El campo apellidos es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="regsitroProfesional"
                                            placeholder="Registro profesional" name="regsitroProfesional" type="text"
                                            required>
                                        <mat-error *ngIf="usuarioForm.get('regsitroProfesional').hasError('required')">
                                            El campo registro profesional es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="password"
                                            placeholder="Contraseña" name="password" type="password"
                                            required>
                                        <mat-error *ngIf="usuarioForm.get('password').hasError('required')">
                                            El campo Contraseña es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button mat-raised-button (click)="regresar()"
                                class="btn btn-light pull-right mx-2">Cancelar</button>
                                <button mat-raised-button type="submit" [disabled]="usuarioForm.invalid"
                                class="btn btn-danger pull-right mx-2">Guardar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>