<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row col-md-12 justify-content-end">
                <button class="btn btn-danger" (click)="crearUsuario()"><span class="material-icons">add_circle </span> Nuevo usuario</button>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Usuarios</h4>
                        <p class="card-category">Administradores y Médicos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Documento
                                    </th>
                                    <th>
                                        Nombres y Apellidos
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of usuarios; let i=index">
                                        <td>
                                            {{i}}
                                        </td>
                                        <td>
                                            {{item.identificacion}}
                                        </td>
                                        <td>
                                            {{item.nombre | uppercase}} {{item.apellido | uppercase}}
                                        </td>
                                        <td>
                                            {{item.rol | uppercase}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>