<app-loading *ngIf="loading"></app-loading>

<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login-bg.jpg');height: 100vh; background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto my-5">
            <form class="form" ngNativeValidate #loginForm="ngForm" (ngSubmit)="iniciarSesion(loginForm)" method="" action="">
              <div class="card card-login card-hidden">
                <div class="card-header card-header-danger text-center">
                  <h4 class="card-title">Iniciar Sesión</h4>
                </div>
                <div class="card-body ">
                  <br>
                  <p class="card-description text-center">Escriba su nombre de usuario y contraseña para acceder al sistema</p>
                  <span class="bmd-form-group my-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">face</i>
                        </span>
                      </div>
                      <input type="text" class="form-control" name="usuario" #usuario="ngModel" [(ngModel)]="login.usuario" placeholder="Usuario">
                    </div>
                  </span>
                  <br>
                  <span class="bmd-form-group my-5">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="login.password" placeholder="Contraseña">
                    </div>
                  </span>
                </div>
                <div class="card-footer justify-content-center">
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-danger btn-danger btn-lg">Entrar</button>
                </div>
                <br>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer ">
        <div class="container">
          <nav class="pull-left">
            <!-- <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/about-us">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul> -->
          </nav>
          <div class="copyright pull-right">
            &copy;
            2020, NutriSys 
          </div>
        </div>
      </footer>
    </div>
  </div>
  