<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
    <div class="container-fluid">

        <div class="row col-md-12 justify-content-start">
            <button class="btn btn-link" (click)="regresar()"><span class="material-icons">arrow_back </span>
                Regresar</button>
        </div>

        <div class="row">
            <div class="row col-md-12 justify-content-end">
                <button class="btn btn-danger" (click)="nuevoControl()"><span class="material-icons">add_circle </span>
                    Nuevo Control</button>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Paciente: {{ pacienteData?.nombres }} {{ pacienteData?.apellidos }}</h4>
                        <p class="card-category">A continuación se lista la información del paciente</p>
                    </div>

                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card" *ngFor="let item of controles; let i=index">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">CONTROL {{i+1}} </h4>
                        <p class="card-category">ID_CONTROL: {{item?.id}} {{ item?.fecha | date:"shortDate" }}</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col" colspan="3">
                                            <h4 class="text-center"></h4>
                                        </th>
                                    </tr>
                                </thead>                                
                                <thead class="text-primary">
                                    <tr>
                                        <th scope="col">Información</th>
                                        <th scope="col">Resultado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="3" class="text-center">PERFÍL BIOQUIMICO</th>
                                    </tr>
                                    <tr>
                                        <td>Glucemia</td>
                                        <td>{{ item?.perfilbioquimcoIdperfilbioquimco?.glucemia == null ? '---' : item?.perfilbioquimcoIdperfilbioquimco?.glucemia}}</td>
                                    </tr>
                                    <tr>
                                        <td>HomaIR</td>
                                        <td>{{ item?.perfilbioquimcoIdperfilbioquimco?.homair == null ? '---' : item?.perfilbioquimcoIdperfilbioquimco?.homair }}</td>
                                    </tr>
                                    <tr>
                                        <td>Insulina</td>
                                        <td>{{ item?.perfilbioquimcoIdperfilbioquimco?.insulina == null ? '---' : item?.perfilbioquimcoIdperfilbioquimco?.insulina }}</td>
                                    </tr>
                                    <tr>
                                        <td>Leptina</td>
                                        <td>{{ item?.perfilbioquimcoIdperfilbioquimco?.leptina == null ? '---' : item?.perfilbioquimcoIdperfilbioquimco?.leptina }}</td>
                                    </tr>
                                    <!-- <tr>
                                        <th scope="row">7</th>
                                        <td>Médico</td>
                                        <td><strong>{{ item?.usuario.nombre }} {{ item?.usuario.apellido }}</strong></td>
                                    </tr> -->

                                    <tr>
                                        <th colspan="3" class="text-center">ANTROPOMETRÍA</th>
                                    </tr>
                                    <tr>
                                        <td>Altura</td>
                                        <td>{{ item?.idAntropometria?.altura == null ? '---' : item?.idAntropometria?.altura }}</td>
                                    </tr>
                                    <tr>
                                        <td>Circunferencia Media Abdomen</td>
                                        <td>{{ item?.idAntropometria?.circunferenciaMediaAbdomen == null ? '---' : item?.idAntropometria?.circunferenciaMediaAbdomen }}</td>
                                    </tr>
                                    <tr>
                                        <td>Circunferencia Media Cadera</td>
                                        <td>{{ item?.idAntropometria?.circunferenciaMediaCadera == null ? '---' : item?.idAntropometria?.circunferenciaMediaCadera }}</td>
                                    </tr>
                                    <tr>
                                        <td>Circunferencia Media Cuello</td>
                                        <td>{{ item?.idAntropometria?.circunferenciaMediaCuello == null ? '---' : item?.idAntropometria?.circunferenciaMediaCuello }}</td>
                                    </tr>
                                    <tr>
                                        <td>Peso</td>
                                        <td>{{ item?.idAntropometria?.peso == null ? '---' : item?.idAntropometria?.peso }}</td>
                                    </tr>
                                    <tr>
                                        <td>Radio Cadera Cintura</td>
                                        <td>{{ item?.idAntropometria?.radioCaderaCintura == null ? '---' : item?.idAntropometria?.radioCaderaCintura }}</td>
                                    </tr>

                                    <tr>
                                        <th colspan="3" class="text-center">ÍNDICES</th>
                                    </tr>
                                    <tr>
                                        <td>IMC</td>
                                        <td>{{ item?.idIndice?.imc == null ? '---' : item?.idIndice?.imc }}</td>
                                    </tr>
                                    <tr>
                                        <td>IMG</td>
                                        <td>{{ item?.idIndice?.imgrasa == null ? '---' : item?.idIndice?.imgrasa }}</td>
                                    </tr>
                                    <tr>
                                        <td>IMLG</td>
                                        <td>{{ item?.idIndice?.imlibredegrasa == null ? '---' : item?.idIndice?.imlibredegrasa }}</td>
                                    </tr>
                                    <tr>
                                        <td>MGC</td>
                                        <td>{{ item?.idIndice?.masagrasacorporal == null ? '---' : item?.idIndice?.masagrasacorporal }}</td>
                                    </tr>
                                    <tr>
                                        <td>MLG</td>
                                        <td>{{ item?.idIndice?.masalibredegrasa == null ? '---' : item?.idIndice?.masalibredegrasa }}</td>
                                    </tr>
                                    <tr>
                                        <td>Masa Muscular Esqueletica</td>
                                        <td>{{ item?.idIndice?.masamusculoesquelitica == null ? '---' : item?.idIndice?.masamusculoesquelitica }}</td>
                                    </tr>
                                    <tr>
                                        <td>Porcentaje de Grasa Corporal</td>
                                        <td>{{ item?.idIndice?.porcentajeGrasaCorporal == null ? '---' : item?.idIndice?.porcentajeGrasaCorporal }}</td>
                                    </tr>
                                    <tr>
                                        <td>Corpulencia</td>
                                        <td>{{ item?.idIndice?.corpulencia == null ? '---' : item?.idIndice?.corpulencia }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fenotipo</td>
                                        <td>{{ item?.idIndice?.fenotipoCorporal == null ? '---' : item?.idIndice?.fenotipoCorporal }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>