<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row col-md-12 justify-content-end">
                <button class="btn btn-danger" (click)="crearPaciente()"><span class="material-icons">add_circle </span> Nuevo paciente</button>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Pacientes</h4>
                        <p class="card-category">Datos personales y Controles Médicos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Documento
                                    </th>
                                    <th>
                                        Nombres y Apellidos
                                    </th>
                                    <th>
                                        Genero
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pacientes; let i=index">
                                        <td>
                                            {{i}}
                                        </td>
                                        <td>
                                            {{item.identificacion}}
                                        </td>
                                        <td>
                                            {{item.nombres | uppercase}} {{item.apellidos | uppercase}}
                                        </td>
                                        <td>
                                            {{item.genero == 'F' ? 'FEMENINO' : 'MASCULINO'}}
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" (click)="verPaciente(item.id)">Ver paciente</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>